.classouter {
  transition: all 0.3s;
}
.classes {
  display: flex;
  margin-top: 15px;
  justify-content: space-around;
  flex-wrap: wrap;
  font-family: lato;
}
.classButton {
  font-size: 20px;
  border: 1px solid black;
  padding: 10px;
  min-width: 300px;
  min-height: 300px;
  font-family: lato;
  font-weight: 400;
  width: 31vw;
}
.classButton h1 {
  font-size: 30px;
  text-align: center;
  border-bottom: 2px solid black;
  font-weight: 700;
}
.classButton:hover {
  cursor: pointer;
  box-shadow: 6px 12px#b4b4b4;
  transform: translate(-1px, -2px);
}
.classButton:hover:active {
  transition: 0.1s;
  box-shadow: 1px 2px#444;
  transform: translate(2px, 5px);
}
