.classouter {
    transition: all 0.3s;
}
.classes {
  display: flex;
  margin-top: 15px;
  justify-content: space-around;
}
.classButton {
  font-size: large;
  border: 1px solid black;
  padding: 10px;
  height: 85vh;
  min-width: 300px;
  min-height: 300px;
  transition: all 0.3s;
  width: 31vw;
}
.classButton h1{
    font-size: 25px;
    text-align: center;
    border-bottom: 2px solid black;
}
.classButton:hover {
  cursor: pointer;
  box-shadow: 6px 12px#b4b4b4;
  transform: translate(-1px, -2px);
}
.classButton:hover:active {
  transition: 0.1s;
  box-shadow: 1px 2px#444;
  transform: translate(2px, 5px);
}